<div class="hug-mail-variable-picker">
    <mt-text-field
        v-model="searchTerm"
        size="small"
        :placeholder="$tc('hug-mail-cockpit.variablePicker.searchPlaceholder')"
    />

    <p class="hug-mail-variable-picker__hint">
        {{ mode === 'values'
            ? $tc('hug-mail-cockpit.variablePicker.hintValues')
            : $tc('hug-mail-cockpit.variablePicker.hintExpressions') }}
    </p>

    <mt-checkbox
        v-if="mode === 'values'"
        class="hug-mail-variable-picker__show-all"
        :label="$tc('hug-mail-cockpit.variablePicker.showAll')"
        :checked="showAll"
        @update:checked="showAll = $event"
    />

    <div
        v-for="(entries, rootKey) in filteredVariables"
        :key="rootKey"
        class="hug-mail-variable-picker__group"
    >
        <button
            type="button"
            class="hug-mail-variable-picker__root"
            @click="toggleGroup(rootKey)"
        >
            <mt-icon
                :name="isGroupOpen(rootKey) ? 'regular-chevron-down-xxs' : 'regular-chevron-right-xxs'"
                size="12px"
            />
            {{ rootKey }}
        </button>

        <ul v-if="isGroupOpen(rootKey)" class="hug-mail-variable-picker__list">
            <li v-for="entry in entries" :key="entry.key">
                <button
                    type="button"
                    class="hug-mail-variable-picker__variable"
                    :title="entry.value !== null ? entry.value : buildExpression(rootKey, entry.key)"
                    @click="selectVariable(rootKey, entry)"
                >
                    {{ entry.label }}
                    <span v-if="entry.value !== null" class="hug-mail-variable-picker__value">{{ shorten(entry.value) }}</span>
                </button>
            </li>
        </ul>
    </div>

    <p v-if="Object.keys(filteredVariables).length === 0" class="hug-mail-variable-picker__empty">
        {{ $tc('hug-mail-cockpit.variablePicker.empty') }}
    </p>
</div>
